.slider-container[b-aqwum2ec37] {
    width: 100%;
    height: 400px;
    display: flex;
    padding: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}

.image-container[b-aqwum2ec37] {
    width: 100%;
    position: relative;
}

.slider-button[b-aqwum2ec37] {
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.slider-text[b-aqwum2ec37] {
    left: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    color: white;
    user-select: none;
    text-align: center;
    position: absolute;  
}

.slider-text > p[b-aqwum2ec37] {
    padding: 6px 12px;
    margin: 0 !important;
    transition: ease-in-out 0.3s;
    background: rgba(236, 236, 236, 0.7);
}

.slider-text:hover > p[b-aqwum2ec37] {
    color: var(--purple-500);  
    background: rgba(236, 236, 236, 1);
}

.slider-button > a[b-aqwum2ec37] {
    width: 100px;
    height: 100%;
    border: none;
    display: flex;
    font-size: 24px;
    cursor: pointer;
    padding: 6px 12px;
    user-select: none;
    text-align: center;
    align-items: center;
    color: white !important;
    /*transition: ease-in-out 0.2s;*/
    /*background: rgba(236, 236, 236, 0.7);*/
}

.slider-button > a:first-child[b-aqwum2ec37] {
    margin-left: 10px;
    justify-content: start;
}

.slider-button > a:last-child[b-aqwum2ec37] {
    margin-right: 10px;
    justify-content: end;
}

/*.slider-button > a:hover {
    background: rgba(236, 236, 236, 1);
}*/

img[b-aqwum2ec37] {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}
