   
 <button type="@Type" class="@CssClass" style="@CssStyle" @onclick="(() => OnClickFunc.InvokeAsync())">
     @Name
</button>


@code {

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Type { get; set; }

    [Parameter]
    public string? CssClass { get; set; }

    [Parameter]
    public string? CssStyle { get; set; }

    [Parameter]
    public EventCallback OnClickFunc { get; set; }
}
