<div class="d-flex" style="min-height: 400px; min-width: 400px;">
    <div class="loading-container flex-between-container m-auto">
        <div class="loading-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="loading-text">Loading</div>
    </div>
</div>

